<div class="panel panel-default">
	<div class="panel-heading">
		{{widget.title}}
		<span class="pull-right">
      <!-- open edit mode -->
      <a *ngIf="descriptor && descriptor.editComponent" title="Edit Mode" (click)="toggleEditMode()">
        <i class="glyphicon glyphicon-cog"></i>
      </a>
      <!-- change widget location -->
      <a title="Move widget" class="adf-move" class="adf-handle">
        <i class="glyphicon glyphicon-move"></i>
      </a>
    </span>
	</div>
	<div class="panel-body">
		<div class="alert alert-warning" *ngIf="error">
			{{error}}
		</div>
		<span #content></span>
	</div>
</div>
